*{
    margin: 0;
    padding: 0;
}
 :root{
    /* Global variable */
    --color: rgb(17, 249, 5); 
    --seccolor: rgb(179, 235, 159);
    --defpad:8px;
    --defop:0.8;
}
.nav{
    background-color: var(--color);
}
.contener{
    background-color: var(--seccolor);
}
ul{
    display: flex;
}
ul li{
    list-style: none;
    padding: var(--defpad);
     border: 6px solid var(--seccolor);
     opacity: var(--defop);
}
ul li:first-child{
    --color:rgb(149, 149, 243);
    background-color: var(--color);
}
ul :nth-child(2){
    --color:rgb(231, 111, 111);
    background-color: var(--color);
    
}
ul li:last-child{
    --color:#00eaff;
    background-color: var(--color);
}