*{
    margin: 0;
    padding: 0;
}
:root{
    --color:rgb(100, 233, 43);
    --seccolor:rgb(107, 206, 226);
    --defpad:15px;
    --defop:0.8;
}
body{
    background-color: rgb(183, 189, 190);
}
.nav{
    margin: 5px;
    padding: 10px 10px 10px 10px;
    background-color:rgb(255, 0, 0);
     border: 1px solid black;
     text-align: center;
}
ul{
    display: flex;
}
ul li{
    padding: var(--defpad);
    margin: 18px;
    list-style: none;
    border: 3px solid black;
    opacity: var(--defop);
    border-radius: 18px;
    font-size: 18px;
    font-weight: bold;
    background-color: green;
}
ul :first-child{
    /* --color:rgb(0, 225, 255); */
    background-color:var(--color);
}
ul :nth-child(2){
    /* --color:rgb(240, 240, 144); */
    background-color: var(--color);
}
ul :nth-child(3){
    /* --color:rgb(255, 174, 187); */
    background-color: var(--color);
}
ul :nth-child(4){
    /* --color:rgb(255, 255, 142); */
    background-color: var(--color);
}
ul :last-child{
    /* --color:rgb(0, 225, 255); */
    background-color:var(--color);
}
div p{
    margin: 5px;
    padding: 5px;;
    background-color: var(--seccolor);
    border: 2px solid rgb(0, 0, 0);
    text-align: center;
    font-size: 18px;
}
