body{
    background-color: rgb(0, 255, 0);
}
@media screen and (orientation: landscape){
body{
    border : 2px solid rgb(255, 0, 0);
}
} 

@media only screen and (max-width : 700px) {
    body{
        background-color: rgb(0, 47, 255);
    }
    .boxes{
        flex-direction: column;
    }
}

.boxes{
    display: flex;
}
.box{
    width: 344px;
    height: 344px;
    background-color: rgb(255, 66, 211);
    padding: 3px;
    margin: 3px;
    text-align:center;
    
}   