.logo{
    width: 40px;
    height: 23px;
}
nav{
    display: flex;
 justify-content: space-around;
    align-items: center; /* only one row ke liye iska use hota hai */
    /* align-content: center;  */ /* multiple row ke liye */
    font-family: Inter;
}
.logo img{
    width: 164px;
}
.right ul{
    display: flex;
    gap: 34px;
}
.right ul li{
    list-style: none;  
    display: flex;
    align-items: center;
    cursor: pointer;
}
.right ul li span{
    padding: 0 9px;
}
.right ul :last-child{
    width: 16px;
    margin-top: 0px;
    cursor: pointer;
}
