* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

.main {
    background-image: url(Images/Backgroundimg2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1400px, 100vw);
    height: 92vh;
    position: relative;
}

.main .box {
    height: 92vh;
    width: 100%;
    opacity: 0.76;
    background-color: black;
    position: absolute;
    top: 0;
}

nav {
    max-width: 80vw;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 90px;

}

nav img {
    width: 150px;
    position: relative;
    z-index: 10;
}

nav button {
    position: relative;
    z-index: 10;
}

.hero {
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
    height: 103.5%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    gap: 20px;
    padding: 0px 30px;
    margin-top: -120px;
}

.hero> :nth-child(1) {
    font-size: 56px;
    font-weight: 700;

    text-align: center;
}

.hero> :nth-child(2) {
    font-size: 20px;
    font-weight: 500px;

    text-align: center;
}

.hero> :nth-child(3) {
    font-size: 16px;
    font-width: 400px;

    text-align: center;
}

.separation {
    height: 7px;
    background-color: rgb(61, 60, 60);
    position: relative;
    z-index: 10;
}

.btn {
    font-size: 16px;
    font-weight: 500;
    background-color: rgba(160, 156, 156, 0);
    border: 1px solid rgba(118, 115, 115, 0.7);
    color: white;
    font-family: sans-serif;
    padding: 6px 40px;
    border-radius: 4px;
    cursor: pointer;
}

.btn-red-sm {
    border: none;
    background-color: rgb(239, 6, 6);
    color: white;
    padding: 7px 12px;
    margin: 0 8px;
    font-size: 15px;
    font-weight: 600;
    font-family: sans-serif;
}

.btn-red {
    background-color: rgb(224, 17, 17);
    color: white;
    padding: 15px 26px 14px 24px;
    font-size: 25px;
    border-radius: 4px;
    border: none;
    font-weight: 550;
}

.hero-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.main input {
    color: white;
    padding: 17px 15px 18px 16px;
    font-size: 18px;
    width: 350px;
    border-radius: 4px;
    background-color: rgba(23, 23, 23, 0.7);
    border: 1px solid rgba(125, 120, 120, 0.7);
}

.first {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 85vw;
    margin: auto;
    color: white;
}

@media screen and (max-width:750px) {
    .first{
        flex-wrap: wrap;
    }
}
.first-text {
    display: flex;
    flex-direction: column;
    /* margin-left: 50px; */
    /* padding: 34px 0px; */
}

.first-text :nth-child(1) {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: bolder;
    padding: 0px 100px 10px 10px;
}

.first-text :nth-child(2) {
    font-family: sans-serif;
    font-size: 15px;
    padding: 0px 100px 0px 10px;
}

.secvideo video {
    width: 30vw;
    padding: 80px 10px 80px 60px;
    border-radius: 10px;
    filter: brightness(1.2);
}

.secimage image {
    width: 555px;
    padding: 50px 10px 50px 20px;
    border-radius: 10px;
    filter: brightness(1.2);
}

.faq {
    background-color: black;
    color: white;
}

.faq h2 {
    font-family: sans-serif;
    padding: 20px 10px 15px 157px;
    font-size: 30px;
    justify-content: center;
}

.faqbox:hover {
    background-color: rgb(102, 101, 101);
}

.faqbox {
    transition: all 1s ease-out;
    display: flex;
    background-color: rgb(64, 63, 63);
    padding: 24px 24px 18px 30px;
    max-width: 75vw;
    margin: 10px auto;
    justify-content: space-between;
    text-align: center;
    font-family: sans-serif;
    font-size: 24px;
    font-weight: 400;
    cursor: pointer;
}

.redy {
    text-align: center;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin: 50px 10px 10px 10px;
}

.getstart {
    margin: 18px 10px 50px 10px;
    text-align: center;
    justify-content: center;
}

.getstart input {
    color: white;
    padding: 20px 35px 17px 30px;
    font-size: 18px;
    width: 500px;
    border-radius: 4px;
    background-color: rgba(23, 23, 23, 0.7);
    border: 1px solid rgba(125, 120, 120, 0.7);
}

.start {
    margin: 5px;
    justify-content: center;
    text-align: center;
    background-color: rgb(224, 17, 17);
    color: white;
    padding: 16px 28px 17px 25px;
    font-size: 25px;
    border-radius: 4px;
    border: none;
    font-weight: 550;
}

footer {
    color: white;
    margin: auto;
    max-width: 78vw;
    padding: 14px;
}

.span {
    font-size: 20px;
    font-family: sans-serif;
    padding: 20px 0px;
}

.faqbox :nth-child(2) {
    filter: brightness(0) invert(1);
}


.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
}
@media screen and (max-width:750px) {
   .footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: white;
}
}
.footer a {
    font-size: 14px;
    font-weight: 400;
    font-family: sans-serif;
    color: rgba(255, 255, 255, 0.7);
}
.footer-item {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.btn-2 img{
    filter: brightness(0)
    invert(1);
    padding: 0px 2px 0px 0px ;
}
.btn-2{
    text-align: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 500;
    background-color: rgba(160, 156, 156, 0);
    border: 1px solid rgba(118, 115, 115, 0.7);
    color: white;
    font-family: sans-serif;
    padding: 6px 30px 6px 16px;
    border-radius: 4px;
    cursor: pointer;
    margin: 50px 0px 10px 0px ;
}
.india{
    font-size: 14px;
    font-weight: 400;
    font-family: sans-serif;
    margin: 30px 10px 10px 10px ;
    color: rgba(255, 255, 255, 0.7);
}
.page{
    font-size: 13px;
    font-weight: 400;
    font-family: sans-serif;
    margin: 30px 10px 10px 10px ;
    color:rgba(255, 255, 255, 0.5) ;
    margin: 30px 10px 50px 10px;
}
