*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(57, 56, 56);
}
header{
     position: sticky;
    top: 0px;
}
ul li{
    display: inline;
    padding: 20px;
    font-size: 25px;
    font-weight: bolder;
    color: white;
     
}
ul li a{
    color: white;
    text-decoration: none;
}
nav{
    background-color: rgb(9, 17, 119);
    padding: 10px;
     text-align: center;
         align-content: center;

}
.contener{
    border:2px solid black;
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    margin-top: 10px;
    background-color: green;
}
.box1{
    border: 2px solid black;
    width: 40vw;
    height: 50vh;
    padding: 20px;
    margin: 20px;
    margin-left: 80px;
    margin-top: 20vh;
    background-color: rgb(120, 244, 207);
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content:center;
        align-content: center;


}
.box2{
    border: 2px solid black;
    width: 40vw;
    height: 50vh;
    padding: 20px;
    margin: 20px;
    margin-top: 20vh;
    background-color: rgb(120, 244, 207);
    font-size: 18px;
    font-weight: bold;
    text-align: center;
     align-items: center;
    display: flex;
    justify-content:center;
        align-content: center;

}

.box3{
    box-sizing: border-box;
    padding: 30px;
    margin: 10px;
    height: 30vh;
    border: 2px solid black;
    border-radius: 8px;
    background-color: aqua;
    font-size: 80px;
    text-align: center;
    font-weight: bolder;  
    color: rgb(0, 0, 0); 
        align-content: center;

    }
    .border1{
        border: 2px solid black;
        padding: 5px;
        height: 20vh;
        width: 20vw;
            align-content: center;

    }
    .border2{
        border: 2px solid black;
        padding: 5px;
         height: 20vh;
        width: 20vw;
            align-content: center;

    }
.circle{
    border: 2px solid  rgb(248, 248, 243);
 width: 80px;
 height: 80px;
 background-color: rgb(251, 247, 4);
 border-radius: 50%;
 position: fixed;
 right: 20px;
 bottom: 20px;
 text-align: center;
 line-height: 80px;
 z-index: 999;
 font-size: 25px;
 font-weight: bold;
}
footer{
    border: 2px solid black;
    box-sizing: border-box;
    height: 10vh;
    background-color: white;
    font-size: 25px;
    text-align:center;
    align-content: center;
    

}