h1{
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-decoration: overline;
    text-decoration-color: rgb(8, 255, 8);
    text-decoration-style:solid;
    text-decoration-thickness: 10px;
    text-align:center;
}
p{
    font-family: 'Playwrite AU VIC Guides', cursive;
    font-style: italic;
    font-weight: 500;
    text-decoration: underline;
}
h2{
    text-transform:capitalize;
    text-overflow: ellipsis;
    border:2px solid red;
    width:60px;
    overflow:hidden; 
    
}